html, body {
  height: 100%;
  
}

h1, h2, h3, h4, h5, h6, p, a {
  /* font-family: 'Pangolin', cursive; */
  font-family: 'Alata', san-serif;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  color:dodgerblue
}

h2, h3, h4, h5, h6, p, .subtitle {
  color: rgb(94, 94, 94);
}

p {
  font-size: 1.25rem;
  text-align: justify;
  /* font-weight: bold; */
}

.custom-card {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: dodgerblue; 
}
.custom-card .card-body {
  padding: 1rem;
}

.card-text {
  color: white;
}


.fa-github {
  color: dodgerblue;
}
.fa-linkedin {
  color: dodgerblue;
}

